a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header,
.hero,
.footer{
    background-color: #1f2937;
    color: #e5e7eb;
}

.footer {
    margin-top: auto;
    text-align: center;
    padding: 24px 0;
}

.hero-heading,
.header-logo {
    color: #f9faf8;
}

.hero-heading {
    font-size: 48px;
    font-weight: 800;
}

.hero-paragraph,
.header-links {
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
}

.quote {
    background-color: #e5e7eb;
}

.signup-background {
    background-color: #3882f6;
    color: white;
    display: flex;
    border-radius: 8px;
    margin: 64px 0;
    gap: 96px;
    padding: 32px 64px;
}

.hero-signup-button,
.signup-button {
    background-color: #3882f6;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
}

.signup-button {
    border: white 1px solid;
    border-radius: 4px; 
    align-self: center;
}   

.info-heading {
    font-size: 36px;
    font-weight: 800;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-attrib {
    font-weight: bold;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
}